function Game.new 0
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push constant 10
    push constant 10
    push constant 20
    call Square.new 3
    pop this 0
    push constant 0
    pop this 1
    push constant 1
    neg
    pop this 2
    push pointer 0
    return
function Game.run 1
    push argument 0
    pop pointer 0
    call Utils.drawWinZone 0
    pop temp 0
label Game_0
    push this 2
    not
    if-goto Game_1
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 0
    eq
    not
    if-goto Game_3
    push pointer 0
    call Game.move 1
    pop temp 0
    push this 0
    call Utils.flashIfInWinZone 1
    pop local 0
    push local 0
    push constant 81
    eq
    not
    if-goto Game_5
    push constant 0
    pop this 2
    goto Game_4
label Game_5
label Game_4
    push local 0
    push constant 82
    eq
    not
    if-goto Game_7
    push this 0
    call Square.dispose 1
    pop temp 0
    push constant 10
    push constant 10
    push constant 20
    call Square.new 3
    pop this 0
    push constant 0
    pop this 1
    call Utils.drawWinZone 0
    pop temp 0
    goto Game_6
label Game_7
label Game_6
    push constant 5
    call Sys.wait 1
    pop temp 0
    goto Game_2
label Game_3
    push local 0
    push constant 131
    eq
    not
    if-goto Game_9
    push constant 1
    pop this 1
    goto Game_8
label Game_9
label Game_8
    push local 0
    push constant 133
    eq
    not
    if-goto Game_11
    push constant 2
    pop this 1
    goto Game_10
label Game_11
label Game_10
    push local 0
    push constant 130
    eq
    not
    if-goto Game_13
    push constant 3
    pop this 1
    goto Game_12
label Game_13
label Game_12
    push local 0
    push constant 132
    eq
    not
    if-goto Game_15
    push constant 4
    pop this 1
    goto Game_14
label Game_15
label Game_14
    push local 0
    push constant 88
    eq
    not
    if-goto Game_17
    push this 0
    call Square.incSize 1
    pop temp 0
    goto Game_16
label Game_17
label Game_16
    push local 0
    push constant 90
    eq
    not
    if-goto Game_19
    push this 0
    call Square.decSize 1
    pop temp 0
    goto Game_18
label Game_19
label Game_18
    push local 0
    push constant 81
    eq
    not
    if-goto Game_21
    push constant 0
    pop this 2
    goto Game_20
label Game_21
label Game_20
label Game_2
    goto Game_0
label Game_1
    push constant 0
    return
function Game.move 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 1
    eq
    not
    if-goto Game_23
    push this 0
    call Square.moveUp 1
    pop temp 0
    goto Game_22
label Game_23
label Game_22
    push this 1
    push constant 2
    eq
    not
    if-goto Game_25
    push this 0
    call Square.moveDown 1
    pop temp 0
    goto Game_24
label Game_25
label Game_24
    push this 1
    push constant 3
    eq
    not
    if-goto Game_27
    push this 0
    call Square.moveLeft 1
    pop temp 0
    goto Game_26
label Game_27
label Game_26
    push this 1
    push constant 4
    eq
    not
    if-goto Game_29
    push this 0
    call Square.moveRight 1
    pop temp 0
    goto Game_28
label Game_29
label Game_28
    push constant 0
    return
function Game.dispose 0
    push argument 0
    pop pointer 0
    push this 0
    call Square.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return